In [ ]:
problem 1 : Find the value of T(2) for the recurrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.

In [ ]:
Given T(n) = 3T(n-1) + 12
      T(0) = 5
we can use this recurrence relation to find t(2):
    first find t(1)
    T(n) = 3T(n-1) + 12
       put n = 1
    T(1) = 3T(1-1) + 12
         = 3T(0)+12
         = 3*5 + 12
    T(1) = 15 + 12
    T(1) = 27
    
we can find t(2) :
    n = 2
    T(2) = 3T(2-1) + 12
         = 3T(1) + 12
         = 3*27 +12
    T(2) =81 +12
    T(2) = 105

In [ ]:
2. Given a recurrence relation, solve it using the substitution method:

a. T(n) = T(n-1) + c

b. T(n) = 2T(n/2) + n

c. T(n) = 2T(n/2) + c

d. T(n) = T(n/2) + c

In [ ]:
a. T(n) = T(n-1) + C
    substitute = T(n) = An + B
    T(n) = T(n-1) + C
    An + B = A(n−1) + B + C
    An + B = An − A + B + C
        A = C
    substitute the value of A back 
    T(n) = C.n + B
    Use the initial condition T(0) to solve the B :
        T(0) = C.0 + B
        T(0) = B
    The equation became like :
        T(n) = C.n + T(0)

In [ ]:
b. T(n) = 2T(n/2) + n
##Assume T(n)=a⋅n⋅log(n)+b⋅n
 T(n) = 2T(n/2) + n
a*nlog(n) + b * n=2(a* n/2 * log(n/2) + b *n/2) + n 
##Simplify the equation
a*nlog(n) + b * n = a * nlog(n)−a * nlog(2) + b * n + n
##cancel common term
b * n = −a * nlog(2) + n
a = − 1/log(2) 
b=1
## substitute the values back
T(n) = − n/log(2) * n *log(n) + n

The equation become like :
T(n) = −nlog(n) + n

In [ ]:
c. T(n) = 2T(n/2) + C
##Substitute T(n) = a * nlog(n) + b * n
    T(n) = 2T(n/2) + c
    a * nlog(n) + b * n = 2⋅(a * (n/2) * log(n/2) + b * n/2) + C
    a * nlog(n) + b * n = a * nlog(n) − a * nlog(2) + b * n + C
    c = −a * nlog(2) + b * n
    a = 0
    b = c/nlog(2)
    
## Substitute the values back
    T(n)= C / log(2)
    
The equation became like :
    
    T(n) = C / log(2)

In [ ]:
d. T(n) = T(n/2) + C
## Substitute T(n)=a * log(n) + b
   T(n) = T(n/2) + C
    a * log(n) + b = a * log(n/2) + b + C
    a * log(n) + b = a * (log(n) - log(2)) + b + C
    a * log(n) + b = a * log(n) - a + b + C
    a = -1
    
## Substitue the values back 
   T(n) = - log(1) + b 
    b = C 
THe equation became like this :
    T(n) = - log(n) + C

In [ ]:
3. Given a recurrence relation, solve it using the recursive tree approach:

a. T(n) = 2T(n-1) +1

b. T(n) = 2T(n/2) + n

In [ ]:
a. T(n) = 2T(n-1) + 1
Expanding further 
T(n-1) = 2T(n-2) + 1
T(n-2) = 2T(n-3) + 1
T(n-3) = 2T(n-4) + 1 and so on.........

Level 0: 1 node (T(n))
Level 1: 2 nodes (T(n-1))
Level 2: 4 nodes (T(n-2))
.....
 at each level we have 2*k nodes 
    Time Complexity = O(2*n)

In [ ]:
b. T(n) = 2T(n/2) + n
Expanding Further
T(n/2) = 2T(n/4) + n
T(n/4) = 2T(n/8) + n and so on .......

Time Complexity = O(n logn)